
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/vis/dist/vis";

#tableInput td {
  padding: 0px;
  text-align: center;
}

tr > td:nth-child(1) {
  padding: 8px !important;
}

tr:nth-child(1) > td {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.table-bordered {
  border: none;
}

.form-control {
  max-width: 45px;
}

.overline {
  text-decoration: overline;
}

tr.google-visualization-orgchart-noderow-medium > td > div {
  font-size: 18px;
}

tr.google-visualization-orgchart-noderow-medium > td > div > sub:nth-child(1) {
  font-size: 10px;
}

tr.google-visualization-orgchart-noderow-medium > td > div > sub:nth-child(2) {
  font-weight: bold;
}

val {
  display: none;
}

.page {
  display: none;
}

.page:first-child {
  display: block;
}

table {
  display: block;
}

.table-sol td {
  padding: 8px !important;

}

.table-sol tr:nth-child(1) > td {
  padding-bottom: 2 !important;
  padding-top: 2 !important;
}

#amount {
  max-width: 200px;
}

#chart_div2, #chart_div3 {
  height: 500px;
  display: none;
}

.mt10 {
  margin-top: 10px;
}

#graph-editor {
  height: 300px;
  border: 1px solid #d6d9d8;
}

.label-edit-popup {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 299;
  width: 350px;
  height: 200px;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  border-color: #5394ed;
  padding: 10px;
  text-align: center;
}

#label-edit-popup-label {
  min-width: 100px;
  max-widht: 100px;
}
